.loginpage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
}

.loginpage button {
  padding: 20px 40px;
  border-radius: 40px;
  background-color: rgb(177, 6, 120); 
  border: none;
  color: white;
  font-weight: bolder;
}

.loginpage button:hover {
    background-color: white;
    color: rgb(177, 6, 120); 
    cursor: pointer;
    
}

.loginpage h1 {
  color: white;
  margin: 30px;
}