.container-sidebar {
  display: flex;
}

.nav-menu.active {
  background-color: rgba(0, 0, 0, 0.653);
  width: 100%;
  padding-right: 30px;
  height: 130vh;

}

.unactive-nav {
  width: 90%;
  display: flex;
  justify-content:right;
  position: fixed;
}


.profile-wrapper {
  display: flex;
  color: white;
  padding: 5px 20px 5px 10px;
  background-color: #00000058;
  border-radius: 20px;
  line-height: 0px;
  margin-top: 20px;
}

.profile-nav {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 10px;
}


.nav-text {
    display: flex; 
    padding: 8px 8px 8px 0px;
    list-style: none;
    width: 100%;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 15px;
    padding: 10px;
    display: flex;
    width:100%;
  }
  
  .nav-text a:hover {
    background-color: rgb(75, 75, 75);
    border-radius: 10px;
  }
  
  .nav-menu-items {
    width: 100%;
  }

  .spotify-logo {
    width: 50px;
    list-style: none;
    margin: 30px 0 30px 12px;
    
  }

  .navigation-ul {
    list-style: none;

  }
  
  span {
    margin-left: 16px;
  }
  
  .btn-logout {
      text-align: left;
      margin: 150px 0px 40px 40px;
      width: 70%;
      padding: 12px 20px;
      border-radius: 20px;
      border: none;
      background-color: rgb(255, 255, 255);
      color: rgb(52, 52, 52);
      font-weight: bolder;
  }

  .btn-logout:hover {
      background-color: rgb(177, 6, 120);
      color: rgb(255, 255, 255);
      cursor: pointer;
  }

  .navbar {
    position: relative absolute;
  }