.nav-menu {
    height: 100%;  
    width: 20%;  
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: -100%; 
    background-color:rgb(21, 21, 21); 
    transition: .5s ease; 
    overflow-x: hidden; 
    padding-top: 20px; 
    display: flex; 
    flex-direction: column; 

    
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex; 
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 40px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 16px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-radius: 0px;

  }
  
  .nav-text a:hover {
    background-color: rgb(177, 6, 120)  ;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
  }
  
  span {
    margin-left: 16px;
  }
  
  .btn-logout {
      text-align: left;
      margin: 150px 40px 40px 40px;
      padding: 15px;
      border-radius: 10px;
      border: none;
      background-color: rgb(177, 6, 120);
      color: white;
      font-weight: bolder;
  }

  .btn-logout:hover {
      background-color: white;
      color: rgb(0, 0, 0);
  }

  .unactive-nav {
      margin: 50px 50px 70px 50px;
      width: 100%;
      cursor: pointer;
  }

  .btn-logout-unactive {
    float: right;
    margin-right: 10%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(177, 6, 120);
    color: white;
    font-weight: bolder;
}