.Tracks {
    text-align: center;
    text-decoration: none;
    color: white;

  }
  
  .Tracks img {     
      width: 100%;
      height: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  }
  
  h3 {
      text-align: left;
      font-size: 13px;
      padding-left: 20px;
      margin-right: 10px;
  }
  
  .btn-select {
      padding: 8px 5px;
      width: 80%;
      border: none;
      border-radius: 20px;
      align-self: bottom;
      background-color: rgb(43, 43, 43);
      color: white;
      transition: all 0.5s;
      margin-bottom: 10px;
  }
  
  .btn-select:hover{
      background-color: rgb(177, 6, 120); 
      cursor: pointer;
  }

  .Tracks p {
    font-size: 13px;
    padding-left: 20px;
    text-align: left;
  }

  /* List css */

  .List {
    display: flex;
    flex-direction: row;
  }

  
  .List img {
    width: 50px;
    height: 50px;
    margin: 0;
  }

  .btn-list {
    border: 0.5px solid rgb(144, 144, 144);
    border-radius: 30px;
    color: rgb(179, 179, 179);
    background-color: transparent;
    padding: 10px 20px;
  }
  .btn-list:hover {
    background-color: white;
    cursor: pointer;
    color: black;
  }

  .List td {
    text-align: left;
    padding: 5px;
    width: 170px;
    border-bottom: 0.5px solid rgba(120, 120, 120, 0.158);
  }