.hero-item {
    text-align: center;
    color: white;
    padding-bottom: 5%;
    border-bottom: 1px solid #353535;
 
    
}

.profile-pic {
    box-shadow: 2px 2px 7px #00000065;
    width: 100px;
    height: 100px;
    border-radius: 100%;

}

.user-greet {
    line-height: 10px;
}

.user-greet h1 {
    font-size: 50px;
}

.user-greet p {
    font-size: 15px;
}

.user-greet a {
    text-decoration: none;
    padding: 10px 50px;
    line-height: 70px;
    border-radius: 30px;
    border: none;
    COLOR:rgb(66, 66, 66);
    font-weight: bolder;
    box-shadow: 1px 1px 5px #272626;
    background-color: rgb(255, 255, 255); 
}

.user-greet a:hover {
    color: #ffffff;
    cursor: pointer;
    background-color: rgb(177, 6, 120);
}