.formplaylist {
    text-align: center;
    margin-top: 20px;
    /* background-image: linear-gradient(180deg, rgba(148, 0, 91, 0.168), rgba(62, 62, 62, 0.174));
    margin: 30px;
    padding: 30px;
    border-radius: 5px; */

  }

  .input-play {
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #cccccc43;
    color: white;
    text-align: center;
    font-weight: bold;
    /* box-shadow: 1px 1px 5px #272626; */
  }

  .playlistwrap {
    /* width: 100%; */
    /* height: 100vh; */
    display: grid;
    justify-content: center;
    align-items: center;
  
  }
  
  .playlistwrap table {
    width: 100%;
    color: white;
    margin: 30px;
  }

  .btn-search {
    padding: 15px 50px;
    margin: 10px;
    border-radius: 30px;
    border: none;
    COLOR:white;
    box-shadow: 1px 1px 5px #272626;
    background-color: rgb(177, 6, 120); 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }
  
  .btn-search:hover {
      color: #272626;
      
      cursor: pointer;
      background-color: white;
  }