html {
  background-color: #3a3b3c;
}
input {
  padding: 10px;
  margin: 10px;
  
}



.App h2 {
  color: rgb(61, 61, 61);
}

.App {
  width: 100%;
  height: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.content {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 40px 0px;
  text-align: center;
}


li {
    inline-size: 200px;
    
    padding: 15px 5px;
    margin: 15px;
    color: white;
    
    border-radius: 20px;
    box-shadow: 3px 3px 8px #272626;
}

form {
  text-align: center;
  padding: 50px 0px;
}

.input-search {
  width: 40%;
  padding: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 1px 1px 5px #272626;
}

.btn-search {
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  background-color: rgb(61, 61, 61);
  box-shadow: 1px 1px 5px #272626;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: all 0.5s;
}

.btn-search:hover {
    background-color: rgb(177, 6, 120); 
    cursor: pointer;
}

.heading1 {
  color: white;
  margin: 10px 30px 0 30px;
  font-size: 20px;
}